.header-bar {
	height: 50px;
	width: 100%;
	background-color: grey;
	text-align: center;
}
.section-content {
	background-color: teal;


}

.section-content a{
	float: left;
	height: 70px;
	width: 20%;
	background-color: green;
	margin-left: 2%;
}


.field {
	height:50%;
	width:100%;
}


#log-in-btn {
	height: 50px;
	width: 150px;	
}


.btn {
	background-color: green;
	border-radius: 5px;
	text-align: center;

}

.btn:hover {
	cursor: pointer;
	background-color: lime;
}

.btn:active {
	background-color: #014421;
}

.result {
	width: 100%;
	height:50px;
	border: 3px solid blue;
	float: left;
	margin-top: 10px;
	min-width: 920px;
	
}

.entry {
    float: left;
    font-size: 36px;
    width: 35%;
    font-weight: 800;
}

.score {
	float: left;
	font-size: 40px;
}


.more-info {
    float: right;
    width: 15%;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 2%;
}

.rate {
    float: right;
    width: 15%%;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 2%;
    background-color: blue;
}

.search-results {
	height:90%;
}

.modal {
    height: 500px;
    position: relative;
    bottom: 100px;
    border: 2px solid black;
    margin: 10%;
    background-color: grey;
    opacity: 0.95;
}

.close-btn {
    display: inline;
    background-color: white;
    position: relative;
    bottom: 209px;
    left: 73%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100%;
    z-index: 10;
}

.close-btn:hover {
	cursor: pointer;
}


.modal-container {
    height: 120px;
    position: relative;
    bottom: 44%;
    background-color: white;
    border: 2px solid black;
}

.more-info-data {
    border: 1px solid black;
}

.title {
    font-weight: 800;
    float: left;
    width: 20%;
    margin-right: 5%;
    margin: right;
}

.value {
    font-size:16px;
}

.row {
    display: inline-table;
    width: 100%;
    border: 1px solid black;
}