.body {
    min-width: 720px;
    background-color: #D3D3D3;
}

.header-bar {
    height: 100px; 
    width:99%;  
    background-color: grey;
    text-align: center;
}

.logged-in a{
    width: calc(33% - 2px);
}

.logged-out a{
    width:calc(25% - 2px);
}

.form-group {
    margin-bottom: 6px;
}

.form-label {
    display: block;
    width:100%;
    text-align: center;
    font-size: 26px;
}

.form-entry-field{
    width:80%;
    margin-left:10%;
    margin-right: 10%;
    height:24px;
    font-size: 18px;
}

.section {
	background-color: teal;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:10px;
    border-radius: 6px;
    width:90%;
}

.section h2 {
    background-color: teal;
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
}

.header-bar a {
    text-decoration: none;
    float: left;
    height: 70px;
    margin-bottom: 20px%;
    background-color: green;
    border: 1px solid black;
    font-size: 34px;
    text-align: center;
    color: black;
    font-weight: 800;
    vertical-align: center;
    font-style: none;
}

.header-bar a:hover {
    background-color: teal;
}


.field {
	height:50%;
	width:100%;
}

.signup-btn {
    height: 36px;
    width: 50%;
    margin-left: 25%;
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 18px;
}

#log-in-btn {
	height: 50px;
	width: 150px;	
}


.btn {
	background-color: green;
	border-radius: 5px;
	text-align: center;
    font-weight: 600;

}

.btn:hover {
	cursor: pointer;
	background-color: lime;
}

.btn:active {
	background-color: #014421;
}

.result {
	width: 100%;
	height:50px;
	border: 3px solid blue;
	float: left;
	margin-top: 10px;
	min-width: 920px;
	
}

.entry {
    float: left;
    font-size: 36px;
    width: 35%;
    font-weight: 800;
}

.score {
	float: left;
	font-size: 40px;
}

.number-of-votes {
    float: left;
    font-size: 14px;
}
.more-info {
    float: right;
    width: 15%;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 2%;
}

.rate {
    float: right;
    width: 15%%;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 2%;
    background-color: blue;
}

.search-results {
	height:90%;
}

.modal {
    height: 500px;
    position: relative;
    bottom: 100px;
    border: 2px solid black;
    margin: 10%;
    background-color: grey;
    opacity: 0.95;
}

.close-btn {
    display: inline;
    background-color: white;
    position: relative;
    bottom: 12px;
    left: 99%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100%;
    z-index: 10;
}

.close-btn:hover {
	cursor: pointer;
}


.modal-container {
    height: 120px;
    position: relative;
    bottom: 44%;
    background-color: white;
    border: 2px solid black;
}

.rating-modal {
    display: none;
    height: 76%;
    width: 80%;
    position: fixed;
    background-color: pink;
    border: 2px solid black;
}

.more-info-data {
    border: 1px solid black;
}

.title {
    font-weight: 800;
    float: left;
    width: 100%;
    margin-right: 5%;
    margin: right;
    font-size: 54px;
}

.title-search {
    font-size: 36px;
    text-align: center;
    width: 100%;
    display: block;
}

.enter-search-term {
    margin-left: 5%;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin-top: 5px;
}

.submit-search {
    width: 50%;
    height: 42px;
    margin-left: 25%;
    font-size:28px;
}

.value {
    font-size:16px;
}

.row {
    display: inline-table;
    width: 100%;
    border: 1px solid black;
}

#background-pic {
    background-image: url(../img/hotelbar.jpg);
    height: 400px;
    width: 100%;
    background-repeat: round;
}

.search-section {
    background-color: silver;
    padding-bottom: 10px;
}