{% extends "base.html" %}

{% block content %}
<h3>Truscore is the place to go to get a reliable rating on anything. Want to know if a hotel, bar, restaurant, shop, website, tv programme, set of golf clubs or anything you are considering investing your time or money into is worthwhile? Truscore is the place to come.</h3>

<h2>How does it work?</h2>
<p>Truscore takes ratings from hundreds of thousands of users, does some magic and gives you a score from 0 to 100 telling you how good something is</p>

<h2>How is this different from anywhere else?</h2>
<p>It's true that there are other sites out there that take use ratings to provide a guide to the quality of things. But these sites have some serious issues:</p>
<ul>
	<li>They tend to specialise in one specific area<br>

		You have to go to trip advisor to find out about hotels, imdb to find out about films, totallywines.com to find out about wines.
	</li>
	<li> Long rambly comments sections<br>

		Ever wanted to find out what was good and bad about a hotel you were stayng at ended up having to read Kevin from Blackburn's entire itinerary of his trip to Corfu?
	</li>
	<li> Their ratings systems are broken<br>

		Ever noticed how eveything on google has a rating of between 3.9 and 4.5? That's because they simply take the sum of all of the votes and divide it by the number of voters. This is a gross simplification and there is a much better way to do it...
	</li>
</ul>



<h2> What's this better way then?</h2>
<p> Glad you asked! The answer is the truscore way. We don't count all votes as being equal. Instead we take into account a number of factors about each indvidual vote:
	<ul>
		<li>Who cast it?<br>

			Does this person have a lot of exprience in this industry? Are they generaly positive or negative? How likely are they to be the author's brother trying to boost their score?
		</li>
		<li>When was it cast?<br>

			That 5* rating you gave that fish and chip shop 3 years ago before it changed hands and they had that rat infestation probably shouldn't hold the same weight as the 1* rating it got yesterday.

		</li>
		<li>What industry was it referring to?<br>

			So you gave that gambling website a 1* rating because you lost all of your money, of course you did.
		</li>
	</ul>

<h2> What does this all mean?</h2>
<p>What this means my friend is that truscore ratings are reliable and meaningful. Ratings are gathered, weighted and normalised making them reliable and meaningful. Someone says that tv show is good but it has a truscore rating of 15? People that watch a lot of tv disagree. A hotel has a Truscore of 85? You know that place is going to be good.</p>


{% endblock %}

