<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
    <meta http-equiv="Cache-Control" content="no-cache"/> 
  </head>
  <body class="body">
    <header>
      <div class="header-bar">
        <div class="title">Hedgehog</div>
        <img id="logo" src="../static/img/logo.jpg" alt="Hedgehog Logo">
        <a href="{{ url_for('profile') }}"><img src="../static/img/profile.png"  id="profile-icon"></a>
        <a href="{{ url_for('logout') }}" id="logout-cta">Log out</a>

      </div>
    </header> 
    {% block content %}
    {% endblock %}    
  </body>
</html>