<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
    <meta http-equiv="Cache-Control" content="no-cache"/> 
  </head>
  <body class="body">
    <header>
      <div class="header-bar">
        <h1 class="title">Truscore</h1>
      </div>

    </header>
    <div class="header-bar logged-in">       
      <a href="{{ url_for('search') }}" class="btn-primary">Search</a>
      <a href="{{ url_for('profile') }}" class="btn-secondary">Profile</a>
      <a href="{{ url_for('logout') }}" class="btn-secondary">Logout</a>
    </div>        
    {% block content %}
    {% endblock %}    
  </body>
</html>